{{ define "title"}}Homepage{{ end }}

{{ define "content" }}
    <br>
    <div class="container">
        <div class="jumbotron">
            <h1>Welcome</h1>
            <p class="lead">What is the answer to the Ultimate Question of Life,
                The Universe, and Everything?</p>
            <p><span class="btn btn-lg btn-danger">{{ .UltimateAnswer }}</span></p>
        </div>
    </div>
{{ end }}


